<% if @workout_preference.present? %>
  <h2>Workout Plan Details</h2>
  <ul>
    <li><strong>Fitness Goal:</strong> <%= @workout_preference.fitness_goal %></li>
    <li><strong>Days per Week:</strong> <%= @workout_preference.days_per_week %></li>
    <li><strong>Time per Session:</strong> <%= @workout_preference.time_per_session %> minutes</li>
    <li><strong>Fitness Level:</strong> <%= @workout_preference.fitness_level %></li>
    <li><strong>Additional Comments:</strong> <%= @workout_preference.additional_comments %></li>
  </ul>

      <strong>Personalized AI WORKOUT:</strong><br>
       <%="Hi, #{current_user.name}! Your Weekly Workout Plan"%> <br>
<%=        "Congratulations on taking the first step towards your fitness journey. Here's a personalized workout plan tailored to your preferences:"
 %>
 <hr>
      <%= @workout_preference.workout_plan %>

  <p>
  </p>
<% else %>
  <p>No workout plan found.</p>
<% end %>
