<div class="container my-4 my-md-5" >
<h1>Workout Creation form</h1>
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <%= simple_form_for [@user, @workout_preference], html: { class: 'form' } do |form| %>
            <% if @workout_preference.errors.any? %>
              <div id="error_explanation" class="alert alert-danger">
                <h2><%= pluralize(@workout_preference.errors.count, "error") %> prohibited this workout preference from being saved:</h2>
                <ul>
                  <% @workout_preference.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= form.label :fitness_goal %>
              <%= form.select :fitness_goal, ['Lose Weight', 'Build Muscle', 'Stay Fit', 'Other'], { prompt: 'Select Fitness Goal' }, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label :days_per_week %>
              <%= form.number_field :days_per_week, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label :minutes_per_session %>
              <%= form.number_field :time_per_session, placeholder: 'Enter time in minutes', class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label :fitness_level %>
              <%= form.select :fitness_level, ['Beginner', 'Intermediate', 'Advanced'], { prompt: 'Select Fitness Level' }, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label :additional_comments %>
              <%= form.text_area :additional_comments, rows: 8, class: 'form-control' %>
            </div>

                      <div class="form-actions text-center">
            <%= form.submit "Generate Workout Plan", class: 'btn btn-primary', style: " margin-top: 10px; width: -webkit-fill-available; " %>
          </div>
        </div>
      </div>
    </div>

    <!-- Second container -->
    <div class="col-md-6">


          <br>
            <div class="col-md-6 mx-auto">
      <div class="card mb-4" style="width: 450px;">
 <div class="card-body">
          <p class="card-text">
          <h3>Workouts tips</h3>
            <ol>
              <li>Set realistic goals.</li>
              <%# <li>Create a new plan each week. </li> %>
              <%# <li> Give your best effort, not perfection. Every effort counts.</li> %>
              <li>Challenge yourself weekly. Progress is your competition.</li>
              <%# <li>It's about feeling great, not just looking good. Embrace a fit lifestyle.</li> %>
              <li>Consistency is your superpower.</li>
            </ol>
        </p>
        </div>
      </div>
    </div>
      <br>
    <!-- Box 2 -->
    <div class="col-md-6 mx-auto">
      <div class="card mb-4" style="width: 450px;">
        <div class="card-body">
          <p class="card-text">
                    <h3>Extra Information</h3>

                    if you have any type of injury or prefer a specific type of workout you prefer please write that in additional comments and our AI workout generator will create a tailored workout plan custom to your needs.         </p>
        </div>
      </div>
    </div>
  </div>

        <% end %>


      <!-- Your content for the second container goes here -->
    </div>
  </div>
</div>
