<br>
<div class="container" style="max-width: 75%" >
  <% workout_preferences = WorkoutPreference.where(user_id: current_user.id) %>

  <% if workout_preferences.any? %>
    <strong>Hello, <%= current_user.name %>!</strong><br>
    <p>We're excited to be part of your fitness journey. Below, you'll find a list of your workout plans:</p>
    <hr>
    <% workout_preferences.reverse_each.with_index do |workout_preference, index| %>
      <div class="row workout-border">
                 <ul class="right-column">
              <li><strong>Fitness Goal:</strong> <%= workout_preference.fitness_goal %></li>
              <li><strong>Days per Week:</strong> <%= workout_preference.days_per_week %></li>
              <li><strong>Time per Session:</strong> <%= workout_preference.time_per_session %> minutes</li>
              <li><strong>Fitness Level:</strong> <%= workout_preference.fitness_level %></li>
              <li><strong>Additional Comments:</strong> <%= workout_preference.additional_comments %></li>
            </ul>
          <pre>
            <p>Week <%= workout_preferences.length - index %></p>
            <%= workout_preference.workout_plan %>
          </pre>

      </div>
      <br>
    <% end %>
    <% end %>
</div>
<br>
