<% if @group.user_id == current_user.id %>
  <h2>YOU ARE The Squad Leader!</h2>
  <%= button_to "Delete Group", group_path(@group), method: :delete, data: { turbo_confirm: 'Are you sure?' } %>
    <% if flash[:notice].present? %>
      <div class="alert alert-success">
      <%= flash[:notice] %>
      </div>
      <% end %>

    <% if flash[:alert].present? %>
      <div class="alert alert-danger">
      <%= flash[:alert] %>
      </div>
    <% end %>
<% elsif @existing_participant %>
<%= link_to "Leave Group", group_group_participant_path(@group, @existing_participant), method: :delete, data: { turbo_confirm: 'Are you sure?' } %>
    <% if flash[:notice].present? %>
      <div class="alert alert-success">
      <%= flash[:notice] %>
      </div>
      <% end %>

    <% if flash[:alert].present? %>
      <div class="alert alert-danger">
      <%= flash[:alert] %>
      </div>
    <% end %>
<% else %>
  <%= form_for [@group, @group_participant] do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :group_id, value: @group.id %>

    <%= f.submit "Join Squad" %>
  <% end %>
<% end %>
  <% if Group.find(params[:id]).user_id == current_user.id %>
<%= link_to 'Create Event', new_group_event_path(@group), form: { action: new_group_event_path(@group) } %>
  <%else%>
  <%=''%>
<% end %>
