<div id="group-index-all" >
  
  <div id="group-index-above-group-section">
    <div id="group-index-above-group-section-hi-username"> 
    <h1 id= "group-index-group-section-group-image-h2">Hi <%= current_user.name %> ! </h1> 
    </div>      
    <div id="group-index-above-group-section-buttons">     
      <div id="group-index-above-group-left-section-buttons">      
        <%= link_to "All Squads" , groups_path %>
          <%= link_to 'My Squads', my_groups_path %>     
      </div>         
      <div id="group-index-above-group-right-section-buttons">
        <button><%= link_to "Create Squad" , new_group_path %></button>
      </div>
    </div>
  </div> 
  
    <hr id="group-index-above-group-section-buttons-line-break" > 
  
  
    <div id="group-index-group-section">        
        <% @groups.each_with_index do |group, index| %>
          <div id="group-index-group-section-group-image-and-name">
            <h2> <%=group.name%> </h2>
            <% if group.group_image.end_with?("jpg") %>
              <%= image_tag group.group_image %>
            <% else %>
              <%= image_tag eval(group.group_image)["url"]%>
          </div>
        <% end %>            
    
    </div>

      <div id="group-index-group-section-event-image">
        <% group.events.take(4).each do |group| %>
          <% if group.event_image.end_with?("jpg") %>
            <%= image_tag group.event_image %>
          <% else %>
            <%= image_tag eval(group.event_image)["url"]%>
          <% end %>
        <%end%>
        <%= link_to 'More Events', group_path(group) %>
        </div>
      <hr >
    <% end %>
      
    

</div>










