<% @groups.each do |group| %>
<h1><%= group.name %></h1>
<p> <%= group.description  %></p>
<p> <%= group.city  %></p>
<p> <%= group.id  %></p>
  <% if group.group_image.end_with?("jpg") %>
  <%=image_tag group.group_image, width: 300, height: 200 %>
  <%else%>
    <%= image_tag eval(group.group_image)["url"], width: 300, height: 200 %>
    <%#= image_path group.group_image, width: 300, height: 200 %>
    <p> </p>
  <% end %>
<a href="<%= group_path(group) %>">View Details</a>

<% end %>

