<div id="group-index-all" >

  <div id="group-index-above-group-section">
    <div id="group-index-above-group-section-hi-username">
    <h1 id= "group-index-group-section-group-image-h2">Hi <%= current_user.name %> ! <i class="fa-sharp fa-solid fa-heart-pulse fa-beat fa-sm"></i>
    </div>
    <div id="group-index-above-group-section-buttons">
      <div id="group-index-above-group-left-section-buttons">
          <div class="button-container">
                <a href="/groups" class="main-squads-button">ALL SQUADS</a>
          </div>
        <% if @my_groups.present? %>
            <div class="button-container">
              <a href="/my_groups" class="secondary-squads-button">MY SQUADS</a>
                <div class="black-border-effect"></div>
            </div>
        <% end %>
      </div>
      <div class="action-button">
        <div id="group-index-above-group-right-section-buttons">
          <div class="button-container">
          <a href="/groups/new" class="action-button">CREATE SQUAD</a>
            <div class="white-border-effect"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <hr id="group-index-above-group-section-buttons-line-break" >


    <div id="group-index-group-section">
        <% @groups.each_with_index do |group, index| %>
        <%@group_participants = GroupParticipant.where(group_id: group.id)%>
        <%@existing_participant = @group_participants.find_by(user_id: current_user.id)%>
        <div style="display: flex;">
          <div id="group-index-group-section-group-image-and-name">
          <div id="group-index-avatars-and-join-button">
            <div id="group-index-group-section-group-avatars">
              <%@group_participants.each do |participant| %>
                <%if participant.user.avatar.nil?%>
                  <%= image_tag "blank_avatar.jpg" %>
                  <p class="hide"><%=participant.user.name%></p>
                <%else%>
                  <%= image_tag participant.user.avatar %>
                  <p class="hide"><%=participant.user.name %></p>
                <% end %>
              <% end %>   
              </div>     
          </div>         

          <div style="display: flex; flex-direction: row-reverse; min-width: fit-content;"> 
          <div id="group-index-group-section-group-name">
          <h2> <%=group.name%> </h2>
          <h4> <%=group.city%> </h4>
            <%if group &&  group.user_id == current_user.id %>
              <%= link_to 'You are the Squad leader', group_path(group) %>
            <%else%>
              <%= link_to 'More Details', group_path(group) %>
            <% end %>
          </div>
            <% if group.group_image.end_with?("jpg") %>
              <%= image_tag group.group_image %>
            <% else %>
              <%= image_tag eval(group.group_image)["url"]%>
          </div>
        <% end %>
        </div>
      </div>
    </div>

      
      <div id="group-index-group-section-event-image">
        <% group.events.take(5).each do |event| %>
<div class="group-index-event-card">
    <%# front of the card %>
<% if event.event_image.end_with?("jpg") %>
      <div class="cover" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0)40%, rgba(0, 0, 0, 0.9)80%), url(<%= image_url(event.event_image) %>)">
      <% else %>
      <div class="cover" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0)40%, rgba(0, 0, 0, 0.9)80%), url(<%= image_url eval(event.event_image)["secure_url"] %>)">
      <%end%>
        <h1 class="card-address"><i class="fa">&#xf041;</i>
          <% if event.address.present? %>
            <% first_line_of_address = event.address.split(',')[0].strip if event.address %>
            <%= first_line_of_address %>
          <% else %>
            Address not available
          <% end %>
        </h1>
        <h1 class="event-card-title">
          <%= event.name %>
        </h1>
        <h2 class="card-time-date">
          <% date = event.date %>
          <% time = event.time %>
          <%= Time.parse(date.strftime("%Y-%m-%d")).strftime("%d/%m/%y") %>,
          <%= Time.parse(time.strftime("%I:%M%P")).strftime("%I:%M%P") %>
        </h2>

        <%# back of the card %>
        <div class="card-back">

            <div class="event-card-host">
            <%if event.group.user.avatar.nil? %>
              <%= image_tag "blank_avatar.jpg", class: "avatar", style: "width: 50px; height: 50px;"%>
            <%else%>
              <%= image_tag event.group.user.avatar, class: "avatar", style: "width: 50px; height: 50px;" %>
            <%end%>
              Hosted by <strong> <%= event.group.user.name%> </strong>
            </div>
          <br>
            <h3 class="event-card-title-back"><%= event.name %></h3>
          <br>
          <div class="event-card-description-box">
            <p class="event-card-description">
              <%= event.description  %>
            </p>
          </div>
                <div class="event-card-participants">
                  <p><%= event.event_participants.count%> Squad members</p>
                </div>
          <a class="card-join-button" href="<%= group_event_path(event.group_id, event.id) %>">more details</a>
          <a class="card-join-button" href="#">Join</a>
        </div>

      </div>
  </div>
<% end %>
        <div id="events-scroll-button">
        <%if group.events.empty?%>
        <h2> No Events... Please search again!</h2>
        <% else %>
        <button style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0)40%, rgba(0, 0, 0, 0.5)80%)"><%= link_to 'More Events', group_path(group) %></button>
        <% end %>
        </div>
        </div>
      <hr >
    <% end %>       

</div>
</div>