<div id="group-index-all" >
  
  <div id="group-index-above-group-section">
    <div id="group-index-above-group-section-hi-username"> 
    <h1 id= "group-index-group-section-group-image-h2">Hi <%= current_user.name %> ! </h1> 
    </div>      
    <div id="group-index-above-group-section-buttons">     
      <div id="group-index-above-group-left-section-buttons">      
        <button><%= link_to "All Squads" , groups_path %></button>
        <% if @my_groups.present? %>
          <button><%= link_to 'My Squads', my_groups_path %></button>
        <% else %>
          <p>You are not a member of any squads.</p>
        <% end %>     
      </div>         
      <div id="group-index-above-group-right-section-buttons">
        <button><%= link_to "Create Squad" , new_group_path %></button>
      </div>
    </div>
  </div> 
  
    <hr id="group-index-above-group-section-buttons-line-break" > 
  
  
    <div id="group-index-group-section"> 
       
        <% @my_groups.each_with_index do |my_group, index| %>
          <div id="group-index-group-section-group-image-and-name"> 
            
            <div id="test">
            <h2> <%=my_group.name%> </h2>
              <%if my_group && my_group.user_id == current_user.id %>
                <%= link_to 'You are the Squad leader!', group_path(my_group) %>
              <%else%>
                <%= link_to 'More info', group_path(my_group) %>
              <% end %>
            </div>
            
            <% if my_group.group_image.end_with?("jpg") %>
              <%= image_tag my_group.group_image %>
            <% else %>
              <%= image_tag eval(my_group.group_image)["url"]%>
          </div>
        <% end %>            
    
    </div>

      <div id="group-index-group-section-event-image">
        <% my_group.events.take(4).each do |my_group| %>
          <% if my_group.event_image.end_with?("jpg") %>
            <%= image_tag my_group.event_image %>
          <% else %>
            <%= image_tag eval(my_group.event_image)["url"]%>
          <% end %>
        <%end%>
        <%if my_group.events.empty?%>
        <h2> No Events... :(</h2>
        <% else %>
        <button><%= link_to 'More Events', group_path(my_group) %></button>
        <% end %>
        </div>
      <hr style="margin-top: 30px; margin-bottom: 30px;" >
    <% end %>
      
    

</div>