<%# page container %>
<div id="group-show-container">
  <%# left side of page %>
  <div id="group-show-left-side">
    <%# top left side %>
    <%# group image and description%>
    <div>
      <div id="group-show-left-side-image-and-description">
        <% if @group.group_image.end_with?("jpg") %>
          <%= image_tag @group.group_image %>
        <%else%>
          <%= image_tag eval(@group.group_image)["url"] %>
          <p> </p>
        <% end %>
        <h4> <%= @group.description  %></h4>
      </div>
    <%# bottom left side, squad members %>
    <div>
      <%# Squad memvers and join button %>
      <div id="group-show-left-side-members-and-button">
        <h2>Squad Members</h2>
        <%= render partial: 'group_participants/form', locals: { group: @group } %>
      </div>
      <%# participant avatars %>
      <% @group_participants.each do |participant| %>
        <%if participant.user.avatar.nil?%>
          <%= image_tag "blank_avatar.jpg", style: "margin: 4px;", class: "avatar-bordered"%>
          <p class="hide"><%=participant.user.name%></p>
        <%else%>
          <%= image_tag participant.user.avatar,style: "margin: 4px;", class: "avatar-bordered" %>
          <p class="hide"><%=participant.user.name%></p>
        <% end %>
      <% end %>
    </div>
  </div>
  
  </div>

  <%# right side of page %>
  <div id="group-show-rigth-side">
  <%# squad info %>
    <div id="group-show-rigth-side-squad-info">
    <h1><%= @group.name %></h1>
    <h2><%=image_tag  @group.user.avatar, style: "margin: 4px;", class: "avatar-bordered" %> Hosted by <%= @group.user.name %>  </h2>
    <h4><%= @group_participant_count %> Squad Members</h4>
    <h4> <%= @group.city  %></h4>
    </div>
  
  <%# event cards %>
    <div id="group-show-event-cards-grid">
    <%= render partial: 'events/display', locals: { group: @group } %></div>
    </div>

</div>



