  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <%= link_to "My App", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="nav navbar-nav navbar-right" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <%= link_to "Home", root_path, class: 'navbar-button' %>
            <%= link_to 'ALL GROUPS', groups_path, class: 'navbar-button' %>
            <%= link_to 'NEW GROUP', new_group_path, class: 'navbar-button' %>

          <% if user_signed_in? %>
                    <%= link_to 'View Workout Preference', user_workout_preferences_path(current_user), class: 'navbar-button'  %>
                    <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete }, class: 'navbar-button' %>
        <% else %>
            <%= link_to "Login", new_user_session_path, class: "nav-link navbar-button"  %>
        <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<style>





/*<ul class="nav navbar-nav navbar-right">*/

.navbar-brand {
color: white;
text-decoration: underline;
}

  .navbar-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #3f51b5;
  text-decoration: underline;
  cursor: pointer;
  float: right;
  margin-right: 15px;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
}

.navbar-button:hover {
  background-color: #3f51b5;
}

.navbar-button:active {
  background-color: #ddd;
}
.container-fluid{

    background-color:#3f51b5
  }
</style>
