<nav class="navbar navbar-expand-lg navbar-light bg-black">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="fit-squad-home" href="/">
        <div class="logo-container">
          <img class="logo-image" alt="Logo" src="/assets/fit-squad-logo-07973b0128b31f6f49bbaa2ee31a5d198ece46247c36906e68e174ddca12408f.jpg">            <div class="border-effect"></div> <!-- Additional div for border effect -->
        </div>
    </a>


    <!-- Search Bar -->
    <div class="d-flex flex-grow-1 justify-content-start">
      <!-- Search Bar -->
      <div class="col-sm-8 my-3">
        <%= form_with url: search_events_path, method: :get, class: "d-flex" do |form| %>
          <div class="input-group">
            <%= form.text_field :query,
                  class: "form-control custom-search-input",
                  placeholder: "Search for events..."
              %>
            <div class="input-group-append">
              <%= form.submit "Search", class: "btn btn-primary custom-search-button" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Navigation Options -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto d-flex flex-row">
        <li class="nav-item custom-dropdown"> <!-- Added 'custom-dropdown' class for custom dropdown -->
          <a class="nav-link" href="#">Squads</a>
          <div class="custom-dropdown-content"> <!-- Custom dropdown content -->
            <a class="nav-link" href="<%= groups_path%>">All Squads</a>
            <a class="nav-link" href="<%= my_groups_path%>">My Squads</a>
            <%# need to add link to page showing all squads user is a member of %>
            <a class="nav-link" href="<%= new_group_path%>">Create Squad</a>
          </div>
        </li>
                <% if user_signed_in? %>

          <li class="nav-item custom-dropdown"> <!-- Added 'custom-dropdown' class for custom dropdown -->
          <a class="nav-link" href="#">Workouts</a>
          <div class="custom-dropdown-content"> <!-- Custom dropdown content -->
            <a class="nav-link" href="<%= new_user_workout_preference_path(current_user) %>">New Workout</a>
            <a class="nav-link" href="<%= user_workout_preferences_path(current_user) %>">View Saved Workouts</a>
          </div>
        </li>

          <li class="nav-item custom-dropdown"> <!-- Added 'custom-dropdown' class for custom dropdown -->
          <div class="user-avatar">
          <%if current_user.avatar.nil?%>
        <%= image_tag "blank_avatar.jpg", style: "margin: 4px;", class: "avatar-bordered"%>
            <%else%>
        <%= image_tag current_user.avatar,style: "margin: 4px;", class: "avatar-bordered" %>
        <% end %>          </div>
      <div class="custom-dropdown-content"> <!-- Custom dropdown content -->
            <a class="nav-link" href="<%= user_workout_preferences_path(current_user) %>">My Workouts</a>
            <a class="nav-link" href="<%= my_groups_path %>">My Squads</a>
            <a class="nav-link" href="<%= user_workout_preferences_path(current_user) %>">My Events</a>
            <a class="nav-link" href="<%= edit_user_registration_path %>">Edit Account Details</a>
            <a class="nav-link" href="<%= destroy_user_session_path %>" data-turbo-method="delete">Log out</a>


          </div>
        </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_session_path %>">Login</a>
          </li>
        <% end %>

      </ul>
    </div>
  </div>
</nav>
