<% @events.each do |event| %>
  <div class="card">
    <%# front of the card %>
    <div class="cover" style="background-image: url(<%= 
    image_url(event.event_image) 
    %>)">
      <h1 class="card-address">
        <% first_line_of_address = event.address.split(',').first.strip %>
        <%= first_line_of_address %>
      </h1>
      <h1 class="event-card-title">
        <%= event.name %>
      </h1>
      <h2 class="card-time-date">
        <% date = event.date %>
        <% time = event.time %>
        <%= Time.parse(date.strftime("%Y-%m-%d")).strftime("%d/%m/%y") %>, 
        <%= Time.parse(time.strftime("%I:%M%P")).strftime("%I:%M%P") %>     
      </h2>
      <%# back of the card %>
      <div class="card-back">
        <h1 class="event-card-title">
          <%= event.name %>
        </h1>
        <p class="card-host"> Hosted by <strong> <%= event.group.user.name%> </strong></p>
        <p class="card-host"><%= image_tag event.group.user.avatar, class: "avatar" %></p>
        <h3 class="event-card-title-back"><%= event.name %></h3>
        <p class="more-details"><%= link_to 'More Details', group_event_path(event.group_id, event.id) %></p>
        <a class="card-join-button" href="#">Join</a>
      </div>
    </div>
  </div>
<% end %>

