
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="events-calendar-container">
  <form class="events-calendar" action="/events" method="get">
    <input type="date" name="date">
    <input type="submit" value="Filter">
    <%= link_to "Reset Filter", events_path %>
  </form>
  <h1 class="events-index">Events</h1>
</div>

<div class="events-container">
    <div class="events-map" data-controller="map" data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
          <% if @events.empty? %>
            <h1><%= "No events found for this date :(" %></h1>
          <% else %>
              <div class="event-cards-grid">
                    <%= render partial: 'events/display' %>
              </div>
          <% end %>
</div>
