
<h1>Events index</h1>

<div class="container">

  <div style="width: 600px; height: 400px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  </div>
  <hr>
  <form action="/events" method="get">
    <input type="date" name="date">
    <input type="submit" value="Filter">
    <%= link_to "Reset Filter", events_path %>
  </form>

  <h2>Top Events</h2>
  <% if @events.empty? %>
  <h1><%= "No events found for this date :(" %></h1>
  <% else %>
  <% @events_random = @events.order('RANDOM()').limit(@events.count)%>
  <% @events_random.each do |event| %>
    <div style="margin: 1vw; border-radius: 5px ; width: 41vw; /* background-color: rgb(246 248 250 / 60%); */ overflow: auto; white-space: inherit; height: 300px; border-style: solid; border-color: #c9c5c5;" >
      <%= render partial: 'events/display', locals: { event: event } %></div>
    </div>
    <% end %>
  <% end %>
  </div>
</div>
<%console%>












