
<div style="margin: 25px">

<div style="display: flex;">
<%= image_tag @event.group.user.avatar %>
<h2>Hosted by <%= @event.group.user.name %> </h2>
</div>
<hr>
<div style="display: flex; ">
<div id= "image+squad-info">
<% if @event.event_image.end_with?("jpg") %>
  <%=image_tag @event.event_image, width: 500, height: 350 %>
  <%else%>
    <%= image_tag eval(@event.event_image)["url"], width: 300, height: 200 %>
    <%#= image_path group.group_image, width: 300, height: 200 %>
    <hr>
  <% end %>

      <h2 style="margin-">The Squad</h2>
    <div style="display: flex; margin: 3px;">
    <% @event_participants.each do |participant| %>
      <%if participant.user.avatar.nil?%>
    <%= image_tag "blank_avatar.jpg", style: "margin: 0px 2px 0px 2px; border-radius: 50px; border: 2px solid grey;"%>
        <%else%>
    <%= image_tag participant.user.avatar, style: "margin:0px 2px 0px 2px; border-radius: 50px; border: 2px solid grey;" %>
      </p>
    <% end %>
  <% end %>
    </div>
      </div>

<div style="display: flex; flex-direction: column; margin-left: 15px">
<div style="width: 100%; height: 350px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<h1><%= @event.name %></h1>
<p> <%= @event.description  %></p>
<p> <%= @event.address  %></p>
<p> <%= @event.date  %></p>
<p> <%= @event.time  %></p>
</div>
</div>


<%= render partial: 'chatrooms/show', locals: { event: @event } %>
<%# <%= render partial: 'event_participants/join', locals: { participants: @participants } %>

