<div id="container">
<%# Host and participants sections %>
  <div id="event-show-host-and-participants">
    <div id="event-show-host">
      <%if @event.group.user.avatar.nil?%>
        <%=image_tag "blank_avatar.jpg", style: "margin: 4px;", class: "avatar-bordered"%>
      <%else%>
        <%= image_tag @event.group.user.avatar, style: "margin: 4px;", class: "avatar-bordered" %>
      <%end%>
      <h2>Hosted by <%= @event.group.user.name %> </h2>
    </div>
    <div id="event-show-participants">
      <% @event_participants.each do |participant| %>
        <% if participant.user.avatar.nil?%>
          <%= image_tag "blank_avatar.jpg", style: "margin: 4px;", class: "avatar-bordered"%>
          <p class="hide"><%=participant.user.name%></p>
        <% else %>
          <%= image_tag participant.user.avatar,style: "margin: 4px;", class: "avatar-bordered" %>
          <p class="hide"><%=participant.user.name%></p>
        <% end %>
      <% end %>
    </div>
  </div>
  <hr>
<%# below host and participant line break %>

  <div id="event-show-left-and-rigth-section">
<%# left section with event image, event info and join button %>
    <div id="event-show-left-section">
      <div id="event-show-left-section-image">
        <% if @event.event_image.end_with?("jpg") %>
          <%=image_tag @event.event_image, width: 500, height: 350 %>
        <% else %>
          <%= image_tag eval(@event.event_image)["url"], width: 300, height: 200 %>
        <% end %>      
      </div>      
      <div id="event-show-left-section-name-timedate-and-button">    
      <div id="event-show-left-section-name-timedate">  
        <div id="event-show-left-section-name">
          <h1><%= @event.name %></h1>
        </div>      
        <div id="event-show-left-section-time-date">
            <% date = @event.date %>
            <% time = @event.time %>
            <h2><%= Time.parse(date.strftime("%Y-%m-%d")).strftime("%d/%m/%y") %>   <%= Time.parse(time.strftime("%I:%M%P")).strftime("%I:%M%P") %></h2>  
        </div>
        <div id="event-show-event-participant-count"> 
          <h3> <%= @event_participants.count  %> Squad members participating</h3>
        </div>
      </div>
        <div id="event-show-left-section-button">
          <%= render partial: 'event_participants/form' %>
        </div>
      </div>
      <div id="event-show-description">
      <h4> <%= @event.description  %></h4>
      </div>
    </div>
  <%# event show right section ,map and chat %>
    <div id="event-show-rigth-section">

    <div id="event-show-map-right-section">
      <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    </div>
    

    <div id="event-show-chatroom-input-right-section-">
      <h1>Event Chatroom for <%= @chatroom.name %></h1>
  <hr>
      <%= simple_form_for [@group, @event, @chatroom, @message], url: event_chatroom_messages_path(@event, @chatroom),
    html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
  %>
    <%= f.input :content,
      label: false,
      placeholder: "Message ##{@chatroom.name}",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
    </div>
    <div id="event-show-chatroom-right-section">
      <%= render partial: 'chatrooms/show', locals: { event: @event } %>
    </div>
        
    </div>
  </div>
</div>
