<% if @event.group.user_id == current_user.id %>
  <h2>YOU ARE The President!</h2>
  <%= link_to "Delete Event", event_path(@event), method: :delete, data: { turbo_confirm: 'Are you sure?' } %>
    <% if flash[:notice].present? %>
      <div class="alert alert-success">
      <%= flash[:notice] %>
      </div>
      <% end %>

    <% if flash[:alert].present? %>
      <div class="alert alert-danger">
      <%= flash[:alert] %>
      </div>
    <% end %>
<% elsif @existing_participant %>
  <h2>you are part of the event Squad!</h2>
<%= link_to "Leave Event", event_participant_path(@event, @existing_participant), method: :delete, data: { turbo_confirm: 'Are you sure?' } %>
    <% if flash[:notice].present? %>
      <div class="alert alert-success">
      <%= flash[:notice] %>
      </div>
      <% end %>

    <% if flash[:alert].present? %>
      <div class="alert alert-danger">
      <%= flash[:alert] %>
      </div>
    <% end %>
<% else %>
<%= form_for [@event, @event, @event_participant] do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :event_id, value: @event.id %>

  <%= f.submit "Sign Up" %>
<% end %>

<% end %>


